{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}

<div class='p-5'>
  {{#with body}}
    <h1 class='ms-5'>{{title}}</h1>
    <p>{{paragraph}}</p>

    <div>
      {{#each buttons}}
        <div class='my-2'>
          <div>
            {{#with summary}}

              <a
                href='{{link}}'
                type='button'
                class='btn btn-primary w-25'
                target='_blank'
              >{{text}}</a>

            {{/with}}
          </div>

          <div>
            {{#with skills}}

              <a
                href='{{link}}'
                type='button'
                class='btn btn-primary w-25'
                target='_blank'
              >{{text}}</a>

            {{/with}}
          </div>

          <div>
            {{#with education}}

              <a
                href='{{link}}'
                type='button'
                class='btn btn-primary w-25'
                target='_blank'
              >{{text}}</a>

            {{/with}}
          </div>

          <div>
            {{#with work}}

              <a
                href='{{link}}'
                type='button'
                class='btn btn-primary w-25'
                target='_blank'
              >{{text}}</a>

            {{/with}}
          </div>

          <div>
            {{#with person}}

              <a
                href='{{link}}'
                type='button'
                class='btn btn-primary w-25'
                target='_blank'
              >{{text}}</a>

            {{/with}}
          </div>

          <div>
            {{#with bio}}

              <a
                href='{{link}}'
                type='button'
                class='btn btn-primary w-25'
                target='_blank'
              >{{text}}</a>

            {{/with}}
          </div>

          <div>
            {{#with program}}

              <a
                href='{{link}}'
                type='button'
                class='btn btn-primary w-25'
                target='_blank'
              >{{text}}</a>

            {{/with}}
          </div>

          <div>
            {{#with web}}

              <a
                href='{{link}}'
                type='button'
                class='btn btn-primary w-25'
                target='_blank'
              >{{text}}</a>

            {{/with}}
          </div>

          <div>
            {{#with js}}

              <a
                href='{{link}}'
                type='button'
                class='btn btn-primary w-25'
                target='_blank'
              >{{text}}</a>

            {{/with}}
          </div>

          <div>
            {{#with car}}

              <a
                href='{{link}}'
                type='button'
                class='btn btn-primary w-25'
                target='_blank'
              >{{text}}</a>

            {{/with}}
          </div>

          <div>
            {{#with mac}}

              <a
                href='{{link}}'
                type='button'
                class='btn btn-primary w-25'
                target='_blank'
              >{{text}}</a>

            {{/with}}
          </div>

          <div>
            {{#with facebook}}

              <a
                href='{{link}}'
                type='button'
                class='btn btn-primary w-25'
                target='_blank'
              >{{text}}</a>

            {{/with}}
          </div>

          <div>
            {{#with task21}}

              <a
                href='{{link}}'
                type='button'
                class='btn btn-primary w-25'
                target='_blank'
              >{{text}}</a>

            {{/with}}
          </div>

          <div>
            {{#with task22}}

              <a
                href='{{link}}'
                type='button'
                class='btn btn-primary w-25'
                target='_blank'
              >{{text}}</a>

            {{/with}}
          </div>

          <div>
            {{#with task31}}

              <a
                href='{{link}}'
                type='button'
                class='btn btn-primary w-25'
                target='_blank'
              >{{text}}</a>

            {{/with}}
          </div>

          <div>
            {{#with shophome}}

              <a
                href='{{link}}'
                type='button'
                class='btn btn-primary w-25'
                target='_blank'
              >{{text}}</a>

            {{/with}}
          </div>

          <div>
            {{#with shoporder}}

              <a
                href='{{link}}'
                type='button'
                class='btn btn-primary w-25'
                target='_blank'
              >{{text}}</a>

            {{/with}}
          </div>

          <div>
            {{#with shopcart}}

              <a
                href='{{link}}'
                type='button'
                class='btn btn-primary w-25'
                target='_blank'
              >{{text}}</a>

            {{/with}}
          </div>

          <div>
            {{#with shopreview}}

              <a
                href='{{link}}'
                type='button'
                class='btn btn-primary w-25'
                target='_blank'
              >{{text}}</a>

            {{/with}}
          </div>

          <div>
            {{#with shopcatalog}}

              <a
                href='{{link}}'
                type='button'
                class='btn btn-primary w-25'
                target='_blank'
              >{{text}}</a>

            {{/with}}
          </div>

        </div>
      {{/each}}
    </div>

  {{/with}}
</div>

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}