<nav class='table card card-body'>

  {{#with navigation}}
    <div class='nav'>
      <div class='nav-item'>
        {{#each links}}

          <a href='{{href}}'>{{text}}</a>

        {{/each}}
        <span class='nav-item'>Disabled</span>
      </div>
    </div>
  {{/with}}

</nav>

<header>
  {{#with header}}
    <h1 class='mt-5'>{{title}}</h1>
    {{#with button}}
      <a class='btn btn-outline-secondary' href='{{link}}'>
        {{text}}
      </a>
    {{/with}}
  {{/with}}
</header>
<hr class='my-5' />

<section>
{{> cartGoodsItem}}
</section>
<hr class="my-5">

<section>
  <div>
    {{#with total}}
      <div>
        <h4>{{title}}</h4>
      </div>

      <div class="display-5">
        {{amount}}
      </div>

      <div>{{delivery}}</div>

      <div>
        {{#each buttons}}
          {{#if isSuccess}}
          <div class="my-3">
            <a class="btn btn-success" href="{{link}}">{{text}}</a>
          </div>
          {{else}}{{#isOutline}}
          <div>
            <a class="btn btn-outline-success" href="{{link}}">{{text}}</a>
          </div>
          {{/isOutline}}
          {{/if}}

        {{/each}}
      </div>
    {{/with}}
  </div>
</section>
<hr class="my-5">

<section>
  {{#with goodsOtherBlock}}
    <h2 class="text-center">{{title}}</h2>
    <div class='mt-5'>
      <div class='row'>
        {{#each cards}}
          <div class='col-4 g-3'>
            <div class='card'>
              <img
                src='{{image}}'
                class='card-img-top'
                alt='gadget'
              />
              <div class='card-body'>
                <h4 class='card-title'>{{title}}</h4>
                <p>{{description}}</p>
                <span
                  class='badge text-bg-warning rounded-pill'
                  >{{#if isHot}}HOT!{{/if}}</span>
                <span
                  class='badge text-bg-info rounded-pill'
                    >{{#if idNew}}Is New{{/if}}</span>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  {{/with}}
</section>
<hr class="my-5">

<section>
  {{#with subscribe}}
    <div class='card card-body text-bg-dark'>
      <h2>{{header}}</h2>
      <p>{{description}}</p>

      {{#each buttons}}
        <div><a href='{{link}}' type="button" class='my-1 btn btn-primary'>{{text}}</a></div>
      {{/each}}

    </div>
  {{/with}}
</section>
<hr class="mt-5">

<footer>
  <div class='container'>
    <div class='row'>
      {{#each footer}}

        <div class='col-2'>
          <div class='nav'>
            {{#each this}}

              <div>
                {{#if @last}}
                  <div
                    class='nav-item text-nowrap disabled'
                  >
                    <a
                      href='{{link}}'
                      class='pe-5 me-5 nav-link disabled'
                    >{{text}}</a>
                  </div>
                {{else}}
                  <div class='nav-item text-nowrap'>
                    <a
                      href='{{link}}'
                      class='pe-5 me-5 nav-link'
                    >{{text}}</a>
                  </div>
                {{/if}}
              </div>

            {{/each}}
          </div>
        </div>

      {{/each}}
    </div>
  </div>
</footer>