<nav class='table card card-body'>

  {{#with navigation}}
    <div class='nav'>
      <div class='nav-item'>
        {{#each links}}

          <a href='{{href}}'>{{text}}</a>

        {{/each}}
      </div>
    </div>
  {{/with}}

</nav>

<section class='mt-5'>
  {{#with newsBlock}}
    <h1 class='text-center'>{{title}}</h1>

    <div class='row'>
      {{#each cards}}
        <div class='col-3 g-2'>
          <div class='card text-bg-dark'>
            <h5 class='card-header'>{{title}}
              <span
                class='badge text-bg-success rounded-pill'
              >{{#if isTop}}Is Top{{/if}}</span>
              <span
                class='badge text-bg-danger rounded-pill'
              >{{#if isNew}}Is New{{/if}}</span>
            </h5>
            <div class='card-body'>
              <p>{{description}}</p>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  {{/with}}
</section>
<hr class='my-5' />

<section>
  {{#with goodsBlock}}
    <nav>
      <ul class='nav'>
        {{#each tabs}}
          <li class='nav-item nav-tabs'>
            <div class='col-12 g-4'>
              {{#if isActive}}
                <a
                  href='#'
                  class='nav-link active'
                >{{text}}</a>

              {{else}}{{#isDisabled}}
                  <a
                    href='#'
                    class='nav-link disabled'
                  >{{text}}</a>
                {{else}}
                  <a href='#' class='nav-link'>{{text}}</a>
                {{/isDisabled}}{{/if}}
            </div>
          </li>
        {{/each}}
      </ul>
    </nav>

    <section class='mt-5'>
      <div class='row'>
        {{#each cards}}
          <div class='col-4 g-3'>
            <div class='card'>
              <img
                src='{{image}}'
                class='card-img-top'
                alt='gadget'
              />
              <div class='card-body'>
                <h4 class='card-title'>{{title}}</h4>
                <p>{{description}}</p>
                <span
                  class='badge text-bg-warning rounded-pill'
                >{{#if isHot}}Is Hop{{/if}}</span>
                <span
                  class='badge text-bg-info rounded-pill'
                >{{#if isNew}}Is New{{/if}}</span>
              </div>
            </div>
          </div>

        {{/each}}

      </div>
    </section>
  {{/with}}
</section>
<hr class='my-5' />

<section>
  {{#with subscribe}}
    <div class='card card-body text-bg-dark'>
      <h2>{{header}}</h2>
      <p>{{description}}</p>

      {{#each buttons}}
        <a href='{{link}}'><button
            class='my-1 text-bg-info'
          >{{text}}</button></a>
      {{/each}}

    </div>
  {{/with}}
</section>
<hr class='my-5' />

<section>
  {{#with service}}
    <div class='card card-body text-bg-success text-center'>
      <h2>{{title}}</h2>
      <p>{{description}}</p>

      {{#each buttons}}
        <a href='{{link}}'><button
            class='my-1 text-bg-info'
          >{{text}}</button></a>
      {{/each}}

    </div>
  {{/with}}
</section>
<hr class='my-5' />

<footer>
  <div class='container'>
    <div class='row'>
      {{#each footer}}

        <div class='col-2'>
          <div class='nav'>
            {{#each this}}

              <div>
                {{#if @last}}
                  <div
                    class='nav-item text-nowrap disabled'
                  >
                    <a
                      href='{{link}}'
                      class='pe-5 me-5 nav-link disabled'
                    >{{text}}</a>
                  </div>
                {{else}}
                  <div class='nav-item text-nowrap'>
                    <a
                      href='{{link}}'
                      class='pe-5 me-5 nav-link'
                    >{{text}}</a>
                  </div>
                {{/if}}
              </div>

            {{/each}}
          </div>
        </div>

      {{/each}}
    </div>
  </div>
</footer>