{{! 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
}}

<div>
  <header>
    <div>
      <h1>{{name.firstname}} {{name.lastname}}</h1>
    </div>
    <div>
      <b>{{position}}</b>
    </div>
    <br>
    <div>
      <em>
        Salary:{{salary}}
      </em>
    </div>

    <br />
    <hr />
  </header>

  <main>
    <section>
      <div>
        <h2>{{summary.title}}</h2>
      </div>
      <div>
        <p>
          {{summary.text}}
        </p>
      </div>
    </section>

    <section>
      <div>
        <h2>Other experience</h2>
      </div>
      <div>
        <p>
          Pet project for parsing sport betting data from
          different platforms ( odds ) and sport statistics
          ( tournament position, goals etc), analyzing by
          simple mathematics models and preparing
          probability for such events like: money line -
          first win / draw / second win, totals etc.
        </p>
      </div>
    </section>
  </main>

  <footer>
    <hr />
    <br />
    {{#with social}}

      {{> link data=email}}

      {{> link data=phone}}

      {{> link data=linkedin}}

    {{/with}}
  </footer>

</div>

{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}