<header>
  {{#with heading}}
    <main class="card card-body">
      {{#with main}}
        <h1>{{title}}</h1>
        <p>{{text}}</p>
        <div>
          {{#with button_text}}
            <div class="mb-3"><button
                class='btn btn-primary'
              >{{solid}}</button></div>
            
            <div><button
                class='btn btn-outline-primary'
              >{{outline}}</button></div>
          {{/with}}
        </div>
      {{/with}}
    </main>

    <section class="card card-body my-3">
      {{#with second}}
        <h2>{{title}}</h2>
        <p>{{text}}</p>
        <div>
          {{#with button_text}}
            <div class="mb-3"><button
                class='btn btn-secondary'
              >{{solid}}</button></div>
            
            <div><button
                class='btn btn-outline-secondary'
              >{{outline}}</button></div>
          {{/with}}
        </div>
      {{/with}}
    </section>
    
    <section class="card card-body">
      {{#with subblock}}
        <h3>{{title}}</h3>
        <p>{{text}}</p>
        <div>
          {{#with button_text}}
            <div class="mb-3"><button
                class='btn btn-dark'
              >{{solid}}</button></div>
            
            <div><button
                class='btn btn-outline-dark'
              >{{outline}}</button></div>
          {{/with}}
        </div>
      {{/with}}
    </section>
  {{/with}}
</header>
<hr class="my-3">

<hr >
<section class="my-3">
  {{#with nested_display}}
    <div class='display-1'>{{title}}</div>
    <div class="card card-body">
      {{#with children_display}}
        <div class='display-4'>{{title}}</div>
        <p>{{text}}</p>
        <div>
          <button
            class='btn btn-outline-warning'
          >{{button.text}}</button>
        </div>
      {{/with}}
    </div>
    
    <div class="mt-5">
      <h6>{{header_text}}</h6>
      <button
        class="btn btn-info"
      >{{button.text}}</button>
    </div>

  {{/with}}
</section>
<hr>

<hr class="my-3">
<section>
  {{#with paragraph}}
    <div class='text-uppercase'>{{title}}</div>
    <p>{{text}}</p>

    <link><a href='{{button.url}}'>{{button.text}}
      </a></link>

    

    <div class="card card-body mt-5">
      <ul>
        {{#each list_name}}
          <li>
            <a href='{{url}}'>{{text}}</a>
          </li>
        {{/each}}
      </ul>
    </div>
  {{/with}}
</section>