<header class='text-center'>
  {{#with page_header}}
    <h1>{{title}}</h1>
    <p class='text-uppercase'>{{description}}</p>
  {{/with}}
</header>
<hr class='my-3' />

<section>
  <div>
    {{#with section}}

      {{#with about_us}}
        <div class='text-end'>
          <div class='display-1'>{{title_list.main}}</div>
          <h2>{{title_list.sub}}</h2>
        </div>
        <br />
        <button class='btn btn-outline-info'>{{button.text}}
        </button>
      {{/with}}

      <div class='mt-5'>
        <div>
          {{#with advantage}}
            <div class='display-5 mb-3'>{{title}}</div>

            <div class='card card-body'>
              {{#with efficiency}}
                <div>
                  <div class='display-4'>{{title}}</div>

                  <h6 class='my-4'>{{sub_title}}</h6>

                  <p>{{description}}</p>
                </div>

                <div class='mt-3'>
                  <button
                    class='btn btn-outline-warning'
                  >{{button}}</button>
                </div>
              {{/with}}
            </div>

            <div class='card card-body mt-3'>
              {{#with innovation}}
                <div class='text-center'>
                  <div class='display-4'>{{title}}</div>

                  <h6 class='my-4'>{{sub_title}}</h6>

                  <p>{{description}}</p>
                </div>

                <div class='mt-3'>
                  <button
                    class='btn btn-outline-warning'
                  >{{button}}</button>
                </div>
              {{/with}}
            </div>

            <div class='card card-body mt-4'>
              {{#with collaboration}}
                <div class='text-end'>
                  <div class='display-4'>{{title}}</div>
                  <br />
                  <h6>{{sub_title}}</h6>
                  <br />
                  <p>{{description}}</p>
                </div>

                <div class='mt-3'>
                  <button
                    class='btn btn-outline-warning'
                  >{{button}}</button>
                </div>
              {{/with}}
            </div>
          {{/with}}
        </div>
      </div>

      <div class='mt-4'>
        <div>
          {{#with agreement}}
            <div class='display-5 mb-3'>{{title}}</div>

            <div class='card card-body'>
              {{#with info}}
                <div class='mb-3'>
                  <h5>{{sub_title}}</h5>
                </div>

                <div class='card card-body'>
                  <details>
                    <p>{{detail.text}}</p>
                    <button
                      class='btn btn-success'
                    >{{detail.button}}</button>
                  </details>
                </div>
              {{/with}}
            </div>

          {{/with}}
        </div>
      </div>

    {{/with}}
  </div>
</section>